html 
  head
    title= title
    style.
      body{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #232323;
      }

      table{
        border: 2px solid white;
        border-radius: 8px;
      }

      tr:nth-child(odd):not(.header){
        background-color: #21a9c4;
        color: black;
      }

      tr:nth-child(even):not(.header){
        background-color: #07bbde;
        color: black;
      }

      .header{
        background-color: #1a8296;
        color: white;
      }

      table tr:last-child td:nth-child(1) { border-radius: 0 0 0 5px; }
      table tr:last-child td:nth-child(3) { border-radius: 0 0 5px 0; }

      .header td:nth-child(1) { border-radius: 5px 0 0 0; }
      .header td:nth-child(3) { border-radius: 0 5px 0 0; }

      td{
        padding: 5px;
      }
  body 
    table 
      tr.header
        td
        td= 'Endpoints'
        td
      tr 
        td= "GET/"
        td= "api/" 
        td= "products"
      tr 
        td= "GET/"
        td= "api/" 
        td= "tables"
      tr 
        td= "GET/"
        td= "api/" 
        td= "types"
